body{
  padding-bottom: 1000px;
}

/*4th row*/
.container-head{
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: silver;
  border-width:1px;
  margin-top: 30px;
  justify-content: center;
}
.div8{
  background-color: lightblue;
  width: 100px;
}
.div9{
  background-color: pink;
  width: 100px;

}
.div10{
  background-color: lightblue;
  width: 100px;

}

/*5th row*/
.container1-head{
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: silver;
  border-width:2px;
  margin-top: 30px;
  justify-content: space-between;
  /*the default is stretch, we can use start, end , center*/
  align-items: first baseline;
}
.div11{
  background-color: lightblue;
  width: 100px;
}
.div12{
  background-color: pink;
  width: 100px;

}
.div13{
  background-color: lightblue;
  width: 100px;

}


